@model MyHours.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl>
        <dd>
            @if (Model.HasPassword)
            {
                <p><a href="@Url.Action("ChangePassword","Manage")" class="btn btn-default"><font face="Arial">Change Password  </font><i class="fa fa-pencil"></i></a></p>

            }
            else
            {
                <p><a href="@Url.Action("SetPassword","Manage")" class="btn btn-default"><font face="Arial">Create  </font><i class="fa fa-plus"></i></a></p>
            }
        </dd>
    </dl>
</div>
