[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/WojtekP12
[access "refs/for/refs/*"]
	read = group user/WojtekP12
	push = group user/WojtekP12
	label-Code-Review = -2..+2 group user/WojtekP12
	label-Verified = -1..+1 group user/WojtekP12
	rebase = group user/WojtekP12
	removeReviewer = group user/WojtekP12
	submit = group user/WojtekP12
[access "refs/heads/*"]
	read = group user/WojtekP12
	create = group user/WojtekP12
	push = +force group user/WojtekP12
	pushMerge = group user/WojtekP12
[access "refs/tags/*"]
	push = group user/WojtekP12
	push = +force group user/WojtekP12
