@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyHours</h1>
    <p class="lead">You can use MyHourse to menage your work time on University as a teacher or control teachers work time as an Administrator</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" >
        <h2>Getting Started</h2>
        <p>
            MyHours is a web tool to menage teacher work time on university. This tutorial will introduce you into basics of the system.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teacher Panel</h2>
        <p>Teacher panel gives you a tool to menage your work time on university, change or create work plan and more.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administrator Panel</h2>
        <p>Administrator panel gives you a tool to control teacher work plan, generate reports and more.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>